.about {
  background: linear-gradient(120deg, $mainBackground 75%, $reddish 25%);

  &__content {
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 1.7;
    color: white;
    text-shadow: 2px 2px $mainBackground;
  }

  &__text {
    width: 65%;
  }

  img {
    margin-right: 40px;
    width: 35%;
  }

  .btn {
    padding: 10px 20px;
    font-weight: normal;
    margin-left: 0;
  }
}

@media (max-width: 940px) {
  .about {
    &__content {
      font-size: 1.4rem;
      flex-direction: column;
    }

    img {
      width: 250px;
      margin: 0;
    }

    &__text {
      text-align: center;
      p {
        text-align: left;
      }
    }
  }
}
