.about {
  background: linear-gradient(
    120deg,
    $mainBackground 75%,
    $secondBackground 25%
  );

  &__content {
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 1.7;
    color: white;
    text-shadow: 2px 2px $mainBackground;
  }

  &__text,
  img {
    margin: 100px 0;
  }

  img {
    margin-right: 40px;
  }

  button {
    padding: 10px 20px;
  }
}
