@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

//COLORS

$accent: #86b3d1;

//GENERAL STYLES

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}
