@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: white;
}

img {
  width: 100%;
}

html,
body {
  overflow: visible;
}

//COLORS

$accent: #86b3d1;
$mainBackground: #474853;
$secondBackground: #8e8268;
$beige: #aaa0a0;
$reddish: #844d36;
$contact: #554e3e;

//GENERAL STYLES

h2 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

h3 {
  text-shadow: 2px 2px $mainBackground;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.btn,
button {
  border: $beige;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  background: linear-gradient(to right, $accent 50%, #fffaf0 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease-in;
  font-weight: bolder;
  color: black;
  text-shadow: none;
}

.btn:hover,
button:hover,
.btn:focus,
button:focus {
  background-position: left bottom;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
