.header {
  background: linear-gradient(
      45deg,
      rgba(132, 77, 54, 0.5),
      rgba(71, 72, 83, 0.5)
    ),
    url("../assets/hero.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;

  &__arrow {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 70px;
  }

  &__arrow img {
    transition: all 0.3s;
  }

  &__arrow:hover img {
    transform: scale(1.25);
  }

  &__nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    min-width: 700px;
    padding: 30px 0;
    width: 100%;
    z-index: 3;
    transition: all 0.3s;

    ul {
      display: flex;
      justify-content: space-between;
      width: 760px;
      margin: 0 50px;

      li {
        background-image: linear-gradient($accent, $accent);
        background-position: bottom left;
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition: background-size 0.5s, background-position 0s 0.5s;
        padding: 2px 0;
      }

      li:hover,
      li:focus {
        background-position: bottom right;
        background-size: 100% 2px;
      }
    }

    a {
      font-size: 2rem;
    }
  }

  .navContainerActive {
    background-color: #dddddd;
  }

  .navContainerActive a {
    color: $mainBackground;
    transition: all 0.5s;
  }

  a.navActive {
    color: $reddish;
  }

  &__heading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    h1 {
      font-size: 6rem;
    }

    p {
      font-size: 3rem;
    }
  }

  &__social {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    a {
      font-size: 3rem;
      transition: all 0.5s;
      margin: 0;
      padding: 0;
    }

    a:hover,
    a:focus {
      color: $accent;
    }
  }
}
