.projects {
  background: linear-gradient(120deg, $mainBackground 75%, $reddish 25%);
  text-align: center;

  & > p a {
    color: $accent;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 30%;
    text-align: center;
    margin: 40px 0;
    text-shadow: 2px 2px $mainBackground;
    transition: all 0.5s;
    padding: 10px;

    .technologies {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  &__item:hover,
  &__item:focus {
    transform: translateY(-5%) !important;
    box-shadow: 0 0 6px $accent;
  }
}

@media (max-width: 768px) {
  .projects__content {
    flex-direction: column;
  }

  .projects__item {
    width: 95%;
    margin: 0 auto;
  }
}
