@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: white;
}

img {
  width: 100%;
}

html,
body {
  overflow: visible;
}

h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  text-shadow: 2px 2px #474853;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

section {
  padding: 120px 0;
}

.btn,
button {
  border: #aaa0a0;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #86b3d1), color-stop(50%, #fffaf0));
  background: linear-gradient(to right, #86b3d1 50%, #fffaf0 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-weight: bolder;
  color: black;
  text-shadow: none;
}

.btn:hover,
button:hover,
.btn:focus,
button:focus {
  background-position: left bottom;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
  h2 {
    margin: 20px 0;
  }
  section {
    padding: 30px 0;
  }
}

.header {
  background: linear-gradient(45deg, rgba(132, 77, 54, 0.5), rgba(71, 72, 83, 0.5)), url("../assets/hero.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header input {
  opacity: 0;
}

.header__arrow {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  width: 70px;
}

.header__arrow img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__arrow:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.header__nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 700px;
  padding: 30px 0;
  width: 100%;
  z-index: 3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  margin: 0 50px;
}

.header__nav ul li {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#86b3d1), to(#86b3d1));
  background-image: linear-gradient(#86b3d1, #86b3d1);
  background-position: bottom left;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.5s, background-position 0s 0.5s;
  transition: background-size 0.5s, background-position 0s 0.5s;
  padding: 2px 0;
}

.header__nav ul li:hover,
.header__nav ul li:focus {
  background-position: bottom right;
  background-size: 100% 2px;
}

.header__nav a {
  font-size: 2rem;
}

.header .navContainerActive {
  background-color: #dddddd;
}

.header .navContainerActive a {
  color: #474853;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header a.navActive {
  color: #844d36;
}

.header__heading {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.header__heading h1 {
  font-size: 6rem;
}

.header__heading p {
  font-size: 3rem;
}

.header__social {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.header__social a {
  font-size: 3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
}

.header__social a:hover,
.header__social a:focus {
  color: #86b3d1;
}

@media (max-width: 768px) {
  .header {
    /*
 * Just a quick hamburger
 */
    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    /*
 * But let's hide the middle one.
 */
    /*
 * Ohyeah and the last one should go the other direction
 */
    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    /*
 * And let's slide it in from the left
 */
  }
  .header__social {
    display: none;
  }
  .header__heading h1 {
    font-size: 3rem;
  }
  .header__heading p {
    font-size: 1.2rem;
  }
  .header__nav {
    width: 300px;
  }
  .header__arrow {
    bottom: 10%;
  }
  .header #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  .header #menuToggle a {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #474853;
  }
  .header #menuToggle a:hover {
    color: tomato;
  }
  .header #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 21px;
    left: -5px;
    cursor: pointer;
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .header #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .header #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  .header #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  .header #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  .header #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  .header #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  .header #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .header #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
}

.about {
  background: linear-gradient(120deg, #474853 75%, #844d36 25%);
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  line-height: 1.7;
  color: white;
  text-shadow: 2px 2px #474853;
}

.about__text {
  width: 65%;
}

.about img {
  margin-right: 40px;
  width: 35%;
}

.about .btn {
  padding: 10px 20px;
  font-weight: normal;
  margin-left: 0;
}

@media (max-width: 940px) {
  .about__content {
    font-size: 1.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .btn {
    margin: 20px auto;
    display: block;
    width: 150px;
  }
  .about img {
    width: 250px;
    margin: 0;
  }
  .about__text {
    text-align: center;
  }
  .about__text p {
    text-align: left;
  }
}

@media (max-width: 500px) {
  .about__text {
    width: 100%;
  }
}

.skills {
  background: linear-gradient(60deg, #844d36 25%, #474853 25%);
}

.skills h2 {
  text-align: center;
}

.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

.skills i {
  font-size: 100px;
}

@media (max-width: 600px) {
  .skills__item {
    width: 30%;
    margin: 15px 0;
  }
  .skills__item h3 {
    text-align: center;
  }
  .skills i {
    font-size: 5rem;
  }
}

.projects {
  background: linear-gradient(120deg, #474853 75%, #844d36 25%);
  text-align: center;
}

.projects > p a {
  color: #86b3d1;
}

.projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__item {
  width: 30%;
  text-align: center;
  margin: 40px 4px;
  text-shadow: 2px 2px #474853;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px;
}

.projects__item .technologies {
  font-weight: bold;
  font-size: 1.3rem;
}

.projects__item:hover, .projects__item:focus {
  -webkit-transform: translateY(-5%) !important;
          transform: translateY(-5%) !important;
  -webkit-box-shadow: 0 0 6px #86b3d1;
          box-shadow: 0 0 6px #86b3d1;
}

@media (max-width: 1100px) {
  .projects .btn {
    display: block;
    width: 50%;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .projects__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__item {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.contact {
  background: linear-gradient(60deg, #844d36 25%, #474853 25%);
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  overflow: hidden;
}

.contact__content a {
  color: #86b3d1;
}

.contact__text {
  padding-right: 40px;
}

.contact__text p {
  text-shadow: 2px 2px #474853;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.contact__social a {
  color: white;
  font-size: 3rem;
  margin-right: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact__social a:hover,
.contact__social a:focus {
  color: #86b3d1;
}

.contact form {
  width: 65%;
}

.contact form .btn {
  margin: 10px 0;
}

.contact .formItem {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.contact .formItem .input {
  width: 100%;
  height: 50px;
  color: white;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.contact .formItem .input:focus + label span,
.contact .formItem .input:valid + label span {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 1.4rem;
  color: #86b3d1;
}

.contact .formItem .input:focus + label::after,
.contact .formItem .input:valid + label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact .formItem label {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 3px solid white;
}

.contact .formItem label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 100%;
  width: 100%;
  border-bottom: 4px solid #86b3d1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact .formItem span {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__text,
  .contact form {
    width: 95%;
    margin: 0 auto;
  }
  .contact .btn {
    padding: 10px 20px;
  }
  .contact .input:focus + label span,
  .contact .input:valid + label span {
    font-size: 1rem;
  }
}

footer {
  background-color: #844d36;
  color: white;
  text-align: center;
  padding: 20px 0;
  text-shadow: 2px 2px #474853;
}
